
<div class="container" >
	<div class="jumbotron">
		<h2>You have been invited!</h2>
		<p>Hi, this is just to inform you that you have been invited by <%= "#{poll.owner}" %> to participate in a poll!</p>
	  	<p>The poll is located at
		  	<a href="<%= "https://#{ENV['APP_NAME']}.herokuapp.com/poll/#{@poll.rid}" %>">
		  		<%= "https://#{ENV['APP_NAME']}.herokuapp.com/poll/#{@poll.rid}" %>
			</a>
		</p>
	</div>
</div>
