
<div class="container" >
	<div class="jumbotron">
		<h2>Welcome to rancor!</h2>
		<p>Hi, this is just to inform you an account has been created for you at
			<a href="https://rancor.herokuapp.com/">https://rancor.herokuapp.com/</a>. If you did not request this, please disregard.
		</p>
	</div>
</div>
