<div class="container" >
	<div class="jumbotron">
		<h2>Welcome to rancor!</h2>
		<p>This message is to inform you that an account has been created for this email address at
			<a href="<%= "https://#{ENV['APP_NAME']}.herokuapp.com/" %>"><%= "https://#{ENV['APP_NAME']}.herokuapp.com/" %></a>, for ranked-choice poll creation and voting. Welcome aboard! If you did not create an account on rancor, please disregard this email.
		</p>
	</div>
</div>
