<br/>
<br/>
<br/><!-- some filler line breaks until css sorted out-->
<br/>
<br/>
<br/>
<div class="alert alert-danger">
<p>
  <%= styled_flash %>
</p>
</div>
<div id="error-message" class="container">
  <h2>404 ERROR</h2>
  <br />
  <p>Sorry. There was a problem with the link.</p>
</div>
