<br/>
<br/>
<br/><!-- some filler line breaks until css sorted out-->
<br/>
<br/>
<br/>
<div class="alert alert-danger">There has been an error</div>
<!-- styled flash is its own div, so it's probably best to separate it. -->
<%= styled_flash %>
