
<div class="container" >
  <div class="jumbotron">
    <h1>Placeholder</h1>
    <%= styled_flash %>
    <ul>
    	<li><ul>Vote
    		<li><a href="/vote">vote</a></li>
    		<li><a href="/results">results</a></li>
    	</ul></li>
		<li><ul>org
    		<li><a href="/new_poll">new poll</a></li>
    		<li><a href="results">results</a></li>
    	</ul></li>
    </ul>
    <ul>
    	<li><a href="/all_users">all users</a></li>
    </ul>

  </div>
</div>