<section id="new">
	<form action="/" method="post">
		<input name="username" placeholder="Your name&hellip;"></input>
		<input name="email" placeholder="Your email&hellip;"></input>
		<input type="submit" value="Sign Up!">
	</form>
</section>

<% @users.each do |user| %>
	<article>
		<p>
			<%= user.username %>
		</p>
		<p>
			<%= user.email %>
		</p>
	</article>
<% end %>