<section id="new">
	<form action="/login" method="post">
		<input name="username" placeholder="Your username&hellip;"/>
		<input name="password" type="password" placeholder="Enter Password&hellip;"/>
		<input type="submit" value="Sign In!" >
	</form>
  <%= styled_flash %>
</section>