<section id="new">
	<form action="/new_user" method="post">
		<input name="username" placeholder="Your username&hellip;"/>
		<input name="email" type="email" placeholder="Your email&hellip;"/>
		<input name="password" type="password" placeholder="Enter Password&hellip;"/>
		<input name="confirmation" type="password" placeholder="Confirm Password&hellip;"/>
		<input type="submit" value="Sign Up!" >
	</form>
  <%= styled_flash %>
</section>