<section id="new">
	<form action="/" method="post">
		<input name="username" placeholder="Your username&hellip;"></input>
		<input name="email" type="email" placeholder="Your email&hellip;"></input>
		<input name="password1" type="password" placeholder="Enter Password&hellip;"></input>
		<input name="password2" type="password" placeholder="Confirm Password&hellip;"></input>
		<input type="submit" value="Sign Up!">
	</form>
</section>