
<div class="container" id="poll_question_container">
  <div class="jumbotron">
    <table>
        <% @polls.each do |question|%>
          <tr>
            <td class="question"><%= question.poll_question %></td>
          </tr>
          <% end %>
      </table>
        <div>
          <div class="count">
             <table>
              <% 1.upto(@choices.length) do |row|%>
                <tr>
                  <td class="rank"><%= row %></td>
                </tr>
                <% end %>
            </table>
          </div>
          <div class="option">
            <table>
              <ul class="list-group" id="sortable_options">
               <% @choices.each do |row|%>
                  <li class="list-group-item" id="<%= row.option %>"><%= row.option %><i class="glyphicon glyphicon-sort">&nbsp</i></li>
                  <% end %>
               </ul>
            </table>
          </div>
          </div>
            <div class="col-md-1"> 
              <a href="#" class="btn btn-info btn-lg" style="margin: 0px;" id="vote"><span class="glyphicon glyphicon-chevron-right"></span> Vote</a>
        </div>
      </div>
    </div>
  </div>