<%= styled_flash %>
<div id="rancor-new-poll" class="container">
    <div class="page-header">
        <h1>Create your poll</h1>
    </div>
    <div class="jumbotron">
        <form class="form-horizontal" role="form" name="question-options-email" method="post">
            <div class="row">
                <label for="question" class="col-sm-2 control-label">Poll Question</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="question" id="question" maxlength="80">
                    <p class="limit-caption text-left">maximum 80 characters</p>
                </div>
            </div>
            <div class="row">
                <label for="description" class="col-sm-2 control-label">Poll Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="description" id="description">
                </div>
            </div>
            <div class="row">
                <label class="col-sm-3 control-label text-center">Poll ClosingDate/Time</label>
                <div class="col-sm-2 has-feedback">
                    <input type="text" id="close-date-picker" class="form-control">
                    <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                </div>
                <div class="col-sm-4">
                        <span class="pull-left"><select class="form-control text-center" id="hour"></select></span>
                    <!--    <span style="float:left"><select class="form-control text-center" id="minute"></select></span>  -->
                        <span class="pull-left"><select class="form-control text-center" id="ampm"></select></span>
                        <div class="btn-group pull-left" role="group">
                            <div class="btn btn-warning" role="button" id="unset-time-btn">Unset</div>
                            <div class="btn btn-warning disabled" role="button" id="set-time-btn">Set</div>
                        </div>
                        <input type="text" id="closedate" name="closeDate" size="27" hidden="hidden">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="btn btn-default glyphicon glyphicon-minus" role="button" id="minus-btn-options"></div>
                    <input type="text" size="2" id="numOfOptions" value="2">
                    <div class="btn btn-default glyphicon glyphicon-plus" role="button" id="plus-btn-options"></div>
                    <p># of options</p>
                    <p class="limit-caption text-right">maximum 50 characters</p>
                    <div id="options"></div>
                </div>
                <div class="col-sm-6">
                    <div class="btn btn-default glyphicon glyphicon-minus" role="button" id="minus-btn-emails"></div>
                    <input type="text" size="2" id="numOfEmails" value="1">
                    <div class="btn btn-default glyphicon glyphicon-plus" role="button" id="plus-btn-emails"></div>
                    <p># of participants</p>
                    <div id="emails"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-info btn-lg" role="button">
                <i class="glyphicon glyphicon-ok"></i>
                Create
            </button>
        </form>
    </div>
</div>
<script src="/js/new_poll.js"></script>
