<ul>
  <% @options.each do |option| %>
    <li><%= "#{option.text}: #{option.score}" %></li>
  <% end %>
</ul>
<!-- I think something from the javascript in the poll page is preventing
    this message from appearing -->
<%= styled_flash %>
