<section id="rancor-home">
<%= styled_flash %>
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div>
                    <img src="/images/logo_200x200.png" alt="">
                </div>
                <div class="carousel-caption">
                    <h3>Welcome to Rancor.</h3>
                </div>
            </div>
            <div class="item">
                <div>
                    <p>*** Computer picture ***</p>
                </div>
                <div class="carousel-caption">
                    <h3>The Ranked Choice voting tool. Because sometimes you need the computer to help make these kinds of decisions for you.</h3>
                </div>
            </div>
            <div class="item">
                <div>
                    <img src="/images/vote_sc_600x315.png" alt="vote screen capture" class="img-responsive">
                </div>
                <div class="carousel-caption">
                    <h3>Drag, Drop, Choose.</h3>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div class="divider"></div>
    <div class="about_container">
        <div class="div_text">
          <p class="about_tag">Make polls. Make decisions. Move on.</p>  
          <h2 class="about_header">What is rancor?</h2>
          <span><p class="about_text">Rancor is a ranked-choice voting system that does the tough work for you. Can't decide which restaurant to try tonight? No, problem...let your friends decide. Simply create a poll and invite others to rank the choices you specify. They vote, you grab coffee. Rancor will tally the votes and send you the results. It's the <i>easy</i> way to resolve the restaurant choice dilemma.</p></span>
          <h2 class="about_header">So how does it work?</h2>
          <span><p class="about_text">Registered users generate a poll question, specify the options and poll deadline, and invite others to vote. Participants receive an email link to the poll with the option to rank the choices. Voting is simple: <i>drag, drop, choose</i>. Rancor does all the tough calculations and displays the results. </p></span>
          <p class="about_sign-up">Start making decisions today.</p>
          <a class="btn btn-info" href="/new_user" role="button">Sign up now</a>
        </div>
    </div>
</section>
