<section id="rancor-home">
<%= styled_flash %>
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div>
                    <img src="/images/logo_200x200.png" alt="">
                </div>
                <div class="carousel-caption">
                    <h3>Welcome to Rancor.</h3>
                </div>
            </div>
            <div class="item">
                <div>
                    <p>*** Computer picture ***</p>
                </div>
                <div class="carousel-caption">
                    <h3>The Ranked Choice voting tool. Because sometimes you need the computer to help make these kinds of decisions for you.</h3>
                </div>
            </div>
            <div class="item">
                <div>
                    <img src="/images/vote_sc_600x315.png" alt="vote screen capture" class="img-responsive">
                </div>
                <div class="carousel-caption">
                    <h3>Drag, Drop, Choose.</h3>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>
