/* shared styles */
.page-header
{
    color:#C79665;
}

/* layout styles */
#layout-body
{
    background-color:#003868;
}

.layout-nav-logo
{
    float: left;
    padding-top:5px;
    padding-left:5px;
}

#navbar > .navbar-nav
{
    float:none;
}

#navbar .btn-primary
{
    margin-top:8px;
    margin-left:0.3em;
}

#navbar .btn-inverse
{
    border-color:#999;
    margin-top:8px;
    margin-left:0.3em;
}

#navbar .btn-inverse:hover
{
    background-color:#999;
}

/* homepage styles */
#change-support-btn-container
{
    margin-bottom:0.714em;
}

#rancor-homepage .jumbotron
{
    padding-top:1.43em;
}
#rancor-homepage .poll-row
{
    text-align:left;
    margin:0.5em 0;
    padding:0.5em 0;
    border-bottom:solid black 1px;
}

#rancor-homepage .poll-row:last-child
{
    border-bottom:none;
}

#change-support .btn
{
    margin-top:0.5em;
}

#change-email-panel,
#change-password-panel
{
    position:absolute;
    z-index:7;
    border:3px solid #513743;
}

#change-email-panel .panel-heading,
#change-password-panel .panel-heading
{
    border-radius:0;
}
#rancor-homepage .glyphicon-info-sign
{
    color:white;
    font-size:1.4em;
}

#rancor-homepage .question-container,
#rancor-homepage .closedate-container
{
    font-size:1em;
    display:inline-block;
    margin:auto 0;
    background-color:#E8E8E8;
    padding:6px 12px;
    border:1px solid transparent;
    border-radius:4px;
}

#rancor-homepage .question-container
{
    max-width:100%;
    background-color:white;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
#rancor-homepage .glyphicon-question-sign
{
    font-size:1.4em;
}

/* new_user styles */
#new-user
{
    text-align:center
}

#new-user h1
{
    font-size:4em;
    padding-bottom:0.2em;
    color: #d8e6ea;
}

#new-user p
{
    color: #d8e6ea;
}

#new-user h3, #new-user h4
{
    color:#e07f16;
}

#new-user-info
{
    text-align:left;
}

#signup-form
{
    max-width:400px;
    padding:1.5em;
    color:#656565;
    background-color:#ADD8E6;
    border-radius:1em;
    border:0.2em #696969 solid;
    text-align:left;
}

#new-user #signup-form label
{
    color:#383838;
}

#new-user img
{
    margin-top:2.5em;
}

/* login styles */
#rancor-login
{
    max-width:400px;
    margin:2em auto 0;
}
#login-form
{
    padding:0 1.5em 1.5em 1.5em;
    color:#656565;
    background-color:#ADD8E6;
    border-radius:1em;
    border:0.2em #696969 solid;
    text-align:left;
}

#login-form img
{
    display:block;
    margin:3em auto;
}

#login-form-footer
{
    margin-top:2em;
    border-top:2px solid;
}

/* new-poll styles */
#rancor-new-poll .row
{
    margin:1em -1.1em;
}

#rancor-new-poll .limit-caption
{
    color:red;
    font-size:0.75em;
    padding:0 1em;
    margin:0;
}

#numOfOptions,
#numOfEmails
{
    font-size:1.3em;
    text-align:center;
}

/* welcome styles */
#home-carousel
{
    width:100%;
    margin:0px auto;
    background-color: #003868;
}
#home-carousel > .carousel-inner div.item
{
    max-width:850px;
    height:30em;
    margin:0px auto;
    text-align:center;
    background-color: #003868;
}

#home-carousel img
{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#home-carousel > .carousel-inner .carousel-caption h3
{
    max-width:600px;
    margin:0px auto;
    font-size:3vh;
}

.divider{
    width:100%;
    height:5px;
    background-color:#877f85;
    color:#ffffff;
    text-align:center;
}

.about_container{
    background-color: #e5d7cf;
    width:100%;
    height:100%;
    text-align:center;
    padding-bottom: 30px;
}

.div_text{
    width: 92%;
}

.about_tag{
    font-weight: bold;
    font-size: 30px;  
    color: #003868;
    text-align: left;
    margin-left: 60px;
    padding-top: 15px;
}

.about_header{
    font-weight: bold;
    font-size: 26px;  
    color: #40333c;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 60px;
    padding-top: 25px;
}

.about_text {
    font-weight: bold;
    font-size: 16px;  
    color: #877f85;
    text-align: left;
    margin-left: 60px;
    width: auto;
}

.about_sign-up {
    font-weight: bold;
    font-size: 26px;  
    color: #e07f16;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 25px;
}

#allow-dup {
    margin-left: 7px;
}













