 .li{
    list-style-type: none;
}

.list-group{
    width: 40%;
    position: absolute;
    list-style-type: none;
    cursor: move;
    margin-top: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #363536;
    height: 44px;
    word-wrap: break-word;
    white-space: normal;
  }
    .bs-example{
      margin: 20px;
    }
    .ui-sortable-placeholder {  
        border: 2px dashed #bab6b6; 
        height: 44px;  
        width: 100%;  
        background-color: #e5d7cf; 
    }

.col-md-1{
    clear: both;
    position: absolute;
    margin-top: 0px;
    padding-top: 35px;
    margin-left: -15px;
}

td.rank {
    font-size: 16px;
    color: #877f85;
    height: 44px;
    top: -2px;
}

.question{
    font-weight: bold;
    font-size: 26px;  
    color: #40333c;  
}

.btn.btn-lg.custom {
    padding-bottom: -5px; 
    text-align: bottom;
    margin-bottom: -5px;
    color: #e07f16;
    border-style: none;
    border-width: 0px;
}

.btn.btn-lg.custom:hover {
    color: #e09d56;
}

div.count {
  width: auto;
  float: left;
  margin-top:13px;
  margin-right: 25px;
  vertical-align: top;
}

div.option {
 overflow: hidden;
 vertical-align: top;
}

.glyphicon.glyphicon-sort{
  position: right;
  float:right;
  color: gray;
}

.glyphicon.glyphicon-info-sign{
  position: right;
  float:right;
  color: gray;
}