div.flash {
    font-family: inherit;
    font-size: large;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

div.positive {
    color: #7FFF00;

}

div.negative {
    color: #DC143C;
}

div.neutral {
    color: #FFC797;
}
